In [1]:
import pandas as pd
data = pd.read_csv("filtered.csv") 
data.head()

,Unnamed: 0,Date,Price,Text,bing_score,nrc_score,afin_score
0,1,2009-05-28,63.47,you have to know when to call it quits and wh...,1,1,0
1,2,2009-07-13,58.25,be aware of things that seem inexplicable bec...,2,0,2
2,3,2010-03-23,79.17,the trump hotel collection is currently nomina...,3,2,3
3,4,2010-03-31,80.37,don t forget the open call at trump tower tomo...,1,2,-1
4,5,2010-04-13,83.44,looking forward to seeing the world champion y...,1,2,0

In [2]:
tweets = data[['Date','Text']]
tweets.head()

         Date                                               Text
0  2009-05-28   you have to know when to call it quits and wh...
1  2009-07-13   be aware of things that seem inexplicable bec...
2  2010-03-23  the trump hotel collection is currently nomina...
3  2010-03-31  don t forget the open call at trump tower tomo...
4  2010-04-13  looking forward to seeing the world champion y...

In [4]:
#Vectorization for Data Visualization
    #CountVectorizer will convert a collection of text documents to a matrix of token counts
    #Produces a sparse representation of the counts 
    #Initialize
    vector = CountVectorizer()
    #We fit and transform the vector created
    frequency_matrix = vector.fit_transform(tweets)
    #Sum all the frequencies for each word

IndentationError: unexpected indent (<ipython-input-4-cb7a9e400d9e>, line 5)

In [ ]:
    sum_frequencies = np.sum(frequency_matrix, axis=0)
    #Now we use squeeze to remove single-dimensional entries from the shape of an array that we got from applying np.asarray to
    #the sum of frequencies.
    frequency = np.squeeze(np.asarray(sum_frequencies))
    #Now we get into a dataframe all the frequencies and the words that they correspond to
    frequency_df = pd.DataFrame([frequency], columns=vector.get_feature_names()).transpose()
    return frequency_df